services:
  mariadb:
    image: mariadb:latest
    container_name: studydash_mariadb
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: studydash_backend
    restart: unless-stopped
    depends_on:
      - mariadb
    env_file:
      - .env
    ports:
      - "3030:3030"
  
  frontend:
      build: ./frontend
      container_name: studydash_frontend
      restart: unless-stopped
      depends_on:
        - backend
      env_file:
        - .env
      ports:
        - "3000:3000"

volumes:
  mariadb_data: