<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>StudyDash | Dashboard</title>
</head>
<body class = "flex h-full  w-screen bg-background font-montserrat">
    <header class = "flex w-screen  bg-background justify-end items-center p-5 ">
        <button class = "bg-primary py-3 px-6 rounded-4xl shadow-md hover:scale-95 transition-all text-2x text-black" type="button">Log Out</button>
    </header>
    <main></main>
    <aside></aside>
    <footer></footer>

</body>
</html>