<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    

    <title>StudyDash | Login</title>
</head>
<body  class="flex justify-center items-center bg-cover bg-center bg-no-repeat h-screen bg-[url(/img/background.svg)] ">
    <main>
        <article class = "flex flex-col justify-evenly items-center w-[35vw] h-[55vh]   text-text  bg-darkgray rounded-4xl text-4xl font-mono shadow-2xl" >
            <h1  class = "text-center text-5xl">Welcome to StudyDash !</h1>
            <form class = " flex flex-col justify-center items-center gap-5" action="/login_data" method="post">
                <input class = "bg-lightgray rounded-xl text-3xl ring ring-background px-3" type="text" name="username" id="username" required placeholder="username">
                
                <input class = "bg-lightgray rounded-xl text-3xl ring ring-background px-3" type="password" name="password" id="password" required placeholder="password">
                <button class = "mt-20 bg-background py-3 px-8 rounded-4xl shadow-md hover:scale-95 transition-all text-3xl"type="submit">Login</button>
            </form>
        </article>
    </main>
</body>
</html>