@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {

    --font-montserrat: 'Montserrat', sans-serif;

    --color-primary: #F5C518;
    --color-background: #030712;
    --color-text: #F6F7FB;
    --color-darkgray: #292a2D;
    --color-lightgray:#343539;

    /* --color-primary: #FFCD1F;
    --color-background: #0A092D;
    --color-text: #F6F7FB;
    --color-darkgray: #2E3856;
    --color-lightgray: #586380; */
}
