@import "tailwindcss";

@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #272727 inset !important; /* your bg hex */
  -webkit-text-fill-color: #f6f7fb !important; /* your text hex */
  transition: background-color 9999s ease-in-out 0s; /* stops flashing */
}


