{%extends "auth/template.html"%}
{%block header%}
<title>StudyDash | Login</title>
{%endblock%}

{%block content%}
<form class = " flex flex-col justify-center items-center gap-3" action="/auth/login" method="post">
    <input class = "bg-lightgray rounded-xl text-xl ring ring-background py-2 text-center" type="text" name="username" id="username" required placeholder="Username">
    <input class = "bg-lightgray rounded-xl text-xl ring ring-background py-2 text-center" type="password" name="password" id="password" required placeholder="Password">
    <button class = "bg-background py-3 px-6 rounded-xl shadow-md hover:scale-95 transition-all text-2xl"type="submit">Login</button>
</form>
{%endblock%}