@import url(https://fonts.bunny.net/css?family=inria-sans:300,400,700i|montserrat:400,600,700);
@import "tailwindcss";

@plugin '../../utils/hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #18b4a6;
  --color-background: #141414;
  --color-text: #f6f7fb;
  --color-light-text: rgba(246, 247, 251, 0.8);
  --color-darkgray: #2828285e;
  --color-lightgray: #2d2b2b;
  --font-montserrat: 'Montserrat', sans-serif;
  --card-bg: rgba(23, 27, 27, 0.7);
  background-color: var(--color-background);
  --border-card: #353535;
  --text-semiwhite: #C5C5C5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-montserrat);
}

/* Prevent Chrome from painting white background on autofill/focus */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #1c1c1c inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}

.font-inria {
  font-family: 'Inria Sans', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
