.landing-page {
    --color-primary: #18b4a6;
    --color-background: #1c1c1c;
    --color-text: #f6f7fb;
    --color-light-text: rgba(246, 247, 251, 0.8);
    --color-darkgray: #292a2d;
    --color-lightgray: #343539;
    --font-montserrat: 'Montserrat', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: var(--font-montserrat);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.landing-page main {
    flex: 1;
}

.landing-page nav {
    background: rgba(246, 247, 251, 0.01);
    backdrop-filter: blur(8.149999618530273px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    z-index: 40;
}

.landing-page nav button {
    border: 1px solid var(--color-primary);
    box-shadow: 2px 2px 4px 2px rgba(24, 180, 166, 0.25);
}

.landing-page #nav-links {
    background-color: rgba(52, 53, 57, 0.49);
    border: 1px solid rgba(24, 180, 166, 0.65);
    box-shadow: 5px 5px 17.6px 0px rgba(24, 180, 166, 0.09);
}

.landing-page a:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.landing-page h1 {
    background: linear-gradient(to bottom, #f6f7fb 0%, #f6f7fb 65%, #18b4a6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 600;
}

.landing-page section>h2:first-of-type {
    background: linear-gradient(to bottom, #f6f7fb 0%, #f6f7fb 85%, #18b4a683 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 600;
}

.landing-page section>p:first-of-type {
    color: var(--color-light-text);
}

.landing-page .krok {
    border-radius: 15px;
    border: 2px solid #18b4a6;
    background: #1e1e1e;
    padding: 15px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.landing-page .krok p {
    color: var(--color-light-text);
}

.landing-page .vyhody {
    --webkit-column-count: 2;
}

.landing-page .vyhoda {
    border: 1px solid rgba(81, 83, 89, 1);
    max-width: 324px;
}

.landing-page .funkcee {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.landing-page .funkce {
    background-color: rgba(74, 74, 74, 0.3);
    width: 400px;
}

.landing-page .flex-2 {
    flex: 2 1 0%;
}

.landing-page .max-w-s {
    max-width: 400px;
}

.landing-page #discord-btn {
    margin: 3rem auto;
    display: flex;
    border-radius: 16px;
    border: 2px solid rgba(24, 180, 166, 0.82);
    background: rgba(40, 40, 40, 0.2);
}

.landing-page #discord-btn:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.landing-page footer {
    background-color: rgba(65, 65, 65, 0.3);
}

.landing-page #mobile-menu {
    font-family: var(--font-montserrat);
}

.landing-page #mobile-menu ul li a {
    font-size: 1.75rem;
}

.landing-page #mobile-menu>div.border-t {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.75rem;
    padding-top: 1rem;
}

.landing-page #mobile-menu>div.border-t a {
    width: 100%;
    max-width: 240px;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.landing-page #mobile-menu button {
    font-family: var(--font-montserrat);
    font-size: 1.25rem;
}

.landing-page #funkce>h2,
.landing-page #poznamky>h2,
.landing-page #kontakty>h2 {
    padding-top: 7rem;
}